fastapi
pydantic[email]
uvicorn
sqlalchemy
aiosqlite
scikit-learn
pandas
numpy
pdfplumber
joblib
python-multipart
psycopg2-binary
python-dotenv
streamlit
matplotlib
requests
openai
gunicorn
google-auth-oauthlib
google-auth
google-api-python-client
